@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #ffffff;
    color: rgb(29, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho{
    display: flex;
    flex-direction: column;
    gap:5px;
    text-align: center;
    width: 100vw;
    padding:10px;
    background-color: #003ec2;
}

.cabecalho h1{
    font-size:16px;
    font-weight: 900;
    color: #ffffff;
}

.cabecalho p{
    font-size: 11px;
    color:#fff;
}

.form{
    display: flex;
    width: 50vw;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:500px;
    padding-right:500px;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    background-color: #dcdcdc;
}

.form label{
    color:#0841c8;
    font-size: 12px;
    font-weight: 500;
}

.form .input-adm{
    width: auto;
    height: 20px;
    outline: none;
    padding:3px;
    padding-left: 5px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
}

.form .input-adm:focus{
    border: none;
    background-color: #e4f1ff;
}

.form .input-adm::placeholder{
    color:#817f7f;
}


.form .btn{
    display: flex;
    gap:10px;
}

.form .btn .btn-submit{
    background-color: #15c909;
    width: 50%;
    color: rgb(255, 255, 255);
    border: none;
    text-shadow: 1px 1px 1px #00c2b5;
    height: 30px;
    border-radius: 5px;
    transition: all 0.3s;
    text-shadow: 1px 1px #0c9303;
}

.form .btn-limpar{
    background-color: #003ec2;
    width: 50%;
    color: #fff;
    border: none;
    height: 30px;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
}

.form .btn-limpar:hover{
    background-color: #0d52e8;
    border:none;
}

.form .btn-submit:hover{
    cursor: pointer;
    background-color: #10ad04;
    border:none;
}

.form .btn-submit:focus{
    border:none;
}

.form .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.form .column{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:2px;
    width: 100vw;
    margin-top:50px;
}

.card{
    display: none;
    width: 700px;
    height: 200px;
    background-color: #e9e9e9;
    border:1px solid #171717;
    color: #000000;
    font-size:14px;
    font-weight: 300;
    border-radius: 4px;
}

.card-front{
    width: 50%;
    padding:10px;
    border-right: 1px solid #0d0707;
}

.card-front-text{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.card-front-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
}

.card-front-body{
    display: flex;
    flex-direction: column;
    gap:10px;
    font-size:12px;
    margin-top:30px;
}

.card-front-text .card-front-titulo{
    font-size:13px;
}

.card-front-text .card-front-subtitulo{
    font-size:12px;
    color:#6101b4;
    
}

.card-back{
    width: 50%;
    padding:15px;
    display: flex;
    flex-direction: column;
    gap:12px;
    color: rgb(34, 34, 36);
    background-color: #e7e7e7;
}

.card-back-text{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}

.card-back-vcode{
    text-align: center;
    font-size:11px;
}

.card-back-text p{
    font-weight: 500;
}

.vcode{
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size:40px;
    color:#1f1f20;
}